<footer class="container">
  <a href="/cgv"><abbr title="Conditions générales de vente">CGV</abbr></a> <a href="/mentions-legales">Mentions légales</a> <a href="/contact">Contact</a>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
