<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Merci Babeth ! Accueil commandes</title>
  <meta name="description"
    content="Commandez vos produits sur Merci Babeth !, groupement d'achat de produits du terroir et artisanaux à Rennes.">
  <meta name="author" content="Aurélie Constant">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css" media="screen">
  <link rel="icon" href="/img/cropped-logo-texte-9-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/img/cropped-logo-texte-9-192x192.png" sizes="192x192" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="/img/cropped-logo-texte-9-180x180.png" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>

<body>
  <header class="container">
    <nav class="container navbar navbar-expand-lg navbar-light justify-content-center">
      <a class="navbar-brand" href="/">
        <img src="/img/cropped-logo-texte-8.png" width="120" height="40" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/qui-est-babeth">Qui sommes-nous ?<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Nos produits
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/tous_nos_produits">Tous nos produits</a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Par catégorie</h6>
              <a class="dropdown-item" href="/rayons/epicerie_salee">Épicerie salée</a>
              <a class="dropdown-item" href="/rayons/viande">Viande, poisson, &oelig;ufs</a>
              <a class="dropdown-item" href="/rayons/fruits_et_legumes">Fruits et légumes</a>
              <a class="dropdown-item" href="/rayons/cosmetiques">Cosmétiques</a>
              <a class="dropdown-item" href="/rayons/entretien_de_la_maison">Entretien de la maison</a>
              <a class="dropdown-item" href="/rayons/boissons">Boissons</a>
              <a class="dropdown-item" href="/rayons/boulangerie">Boulangerie - pâtisserie</a>
              <a class="dropdown-item" href="/rayons/produits_laitiers">Produits laitiers et glaces</a>
              <a class="dropdown-item" href="/rayons/epicerie_sucree">Épicerie sucrée</a>
              <a class="dropdown-item" href="/rayons/fleurs">Fleurs et plants</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adherer">Adhérer à l'association</a>
          </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">
          <div class="group">
            <input class="form-control mr-sm-2" type="search" placeholder="Votre recherche" aria-label="Search"
              onkeyup="showResults(this.value)"></input>
          </div>

          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>

          <div style="position:relative;width:100%;top:-1px">
            <div class="border" id="search-results">

            </div>
          </div>

        </form>

        <li class="nav-item">
          <a href="/admin" class="nav-link"><i class="fa fa-cogs"></i></a>
        </li>
      </div>
    </nav>
  </header>